# Node
node_modules/

# VS Code
.vscode/
.vSCodeTest/

# Build output
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# VSIX packages
*.vsix

.gitignore
z__korean.loca.xml
